:root {
    --sidebar-bg: black;
    --sidebar-text: #a3a3a3;
    --main-darker: #080b12;
    --main-dark: #141922;
    --main-light: #7a7c81;
    --main-lighter: white;
    --main-highligh: #adff2f;
    --bottom-bg: #282828;
}

/* UTILITY */

* {
    box-sizing: border-box;
}

.white {
    color: white;
}

.d-flex {
    display: flex;
}

.center {
    text-align: center;
}

.padding-left {
    padding-left: 1rem;
}


/* BODY */
body {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
/* TOP */
.top {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

    /* SIDEBAR */
.sidebar {
    padding-top: 1rem;
    width: 230px;
    background-color: black;
    color: var(--sidebar-text);
    display: flex;
    height: 100%;
    overflow-y: auto;
    /* da controllare */
  
    .logo {
        width: 70%;

        .logo-small {
            display: none;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    ul {
        padding-inline-start: 0;

        li {
            list-style: none;
            padding-top:0.25rem;
            padding-bottom: 0.25rem;
            

            .fa-solid {
                padding-right: 0.5rem;
                font-size: 23px;
                vertical-align: middle;
            }

            a {
                color: var(--sidebar-text);
                text-decoration: none; 
                font-size: 12px;   

                &:hover {
                    color: var(--main-lighter);
                }
            }
        }
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        margin-top: 0.25rem;
        font-size: 14px;

        .fa-solid {
            font-size: 40px;
            margin-right: 0.5rem;
            vertical-align: middle;
        }

        &:hover {
            color: white;
        }
    }
    .playlist {
        flex-grow: 1;
    }
    .playlist-names {
        font-size: 12px;
        line-height: 1.5rem;
            li {
                &:hover {
                    color: var(--main-lighter);
                }
            }
        }

    .profile {
        padding-bottom: 1rem;
        width: 100%;
        padding-right: 1rem;
    
        .download {
            font-size: 12px;

            &:hover {
                color: white;
            }
        }

        .user {
            font-size: 12px;

            .fa-solid {
                font-size: 27px ;
                vertical-align: middle;
                color: var(--sidebar-text);
                margin-right: 0.25rem;
            }
        }

        hr {
            border: 0.5px solid var(--sidebar-text);
        }
    }
}

    /* MAIN */
.main {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: var(--main-dark);
    overflow-y: auto;

    .hidden {
        display: none;
    }

    .upgrade {
        background-color: var(--main-darker);
        padding-top: 1rem;
        position: sticky;
        height: 50px;
        top: 0;
        z-index: 100;

        span {
            color: white;
            font-size: 10px;
            font-weight: bold;
            margin: 0;
            border: 1px solid white;
            padding: 0.5rem 1rem;
            border-radius: 50px;
            position: absolute;
            right: 0.25rem;

            &:hover {
                font-size: 12px;
            }
        }
    }

    .content {
        padding: 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    nav {
        
        ul {
        padding-inline-start: 0;
        justify-content: center;
        font-size: 10px;
        font-weight: bold;
        color: var(--main-light);
        

            li{
                list-style: none;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                padding-bottom: 0.25rem;
                text-transform: capitalize;

                &:hover {
                    border-bottom: 1px solid var(--main-highligh);
                    color: white;
                }
            }
        }
    }

    .recently-p {
        flex-wrap: wrap;
    }

    #create-for {
        margin-bottom: 0rem;
    }

    h2 {
        font-size: 18px;
    }

    h4 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        color: var(--main-light);
        font-size: 10px;
        font-weight: bold; 
    }

    .albums {
        gap: 1rem; 
        flex-wrap: wrap;
  
        .album {
            width: calc((100% / 12 * 2) - 1rem);
            margin-top: 0.5rem; 
            flex-wrap: wrap;
        }

        .cover {
            position: relative;
        }

        img {
            width: 100%;
            display: block;  
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 36px;
        }

        .cover:hover {
            .hidden {
                display: block;
            }  
        }  
    }
}


/* BOTTOM */

.bottom {
    background-color: var(--bottom-bg);
    width: 100%;
    height: 80px;
    color: var(--main-light);
    
    .song-bar {
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .song {
            vertical-align: middle;
 
            ul {
                padding-inline-start: 0px;

                li {
                    list-style: none;
                    margin-right: 0.25rem; 
                }
        
                img {
                    width: 42px;                  
                }

                .icon {
                    align-self: center;
                    margin-left: 1rem;

                    i {
                        padding: 0.5rem;

                        &:hover {
                            color: white;
                        }
                    }  
                }
            }

            span {
                font-size: 10px;

                &:hover {
                    color: white;
                    border-bottom: 1px solid white;
                }
            }

            strong {
                font-size: 12px;
                margin-bottom: -0.5rem;
                padding-bottom: 0px;
            }
        }

        .player {

            width: 35%;
        
            .music-icon {
                display: flex;  
                justify-content: center;
            
                i {
                padding-left: 1rem;
                padding-right: 1rem;
                color: white;
                font-size: 16px;
                align-self: center;
                }

                .fa-circle-play {
                    font-size: 28px;

                    &:hover {
                        font-size: 30px;
                    }
                } 
            }
        }

        .time {
        display: flex;
        align-items: center;
        width: 100%;

        .minute {
            font-size: 8px;      
        }

        .bar {
            height: 5px;
            width: 100%;
            background-color: var(--main-light);
            border-radius: 50px;
            margin: 1rem;
        }

        .bar:after {
            content: '';
            width: 20%;
            background-color: white;
            display: block;
            height: 100%;
        }
        .bar:hover:after {
            background-color: var(--main-highligh);
        }
        }

        .settings {
            display: flex;
            width: 15%;

            .logo-settings {
                align-self: center;
                display: flex;
                width: 50%;
                
                i {
                    padding: 0.5rem;
                }
            }
            
            .bar-volume {
                height: 5px;
                width: 100%;
                background-color: var(--main-light);
                border-radius: 50px;
                margin: 1rem;
            }

            .bar-volume:after {
                content: '';
                width: 20%;
                background-color: white;
                display: block;
                height: 100%;
            }

            .bar-volume:hover:after {
                background-color: var(--main-highligh);
            }

        }
    }
}


    
/* META QUERY */

/* M */

@media screen and (max-width: 878px) {

    .top {
    min-width: 830px;
    width: 100%;
    }
    .main {

        .type {

            ul {
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;

                li:nth-child(6) {
                    flex-basis: 100%; 
                    text-align: center;
                    padding-top: 1rem;
                }
            }
        }

        .albums {
            .album {
                width: calc((100% / 12 * 3) - 1rem);
                margin-top: 0.5rem; 
                flex-wrap: wrap;
            }
        }
    }

    .bottom {
    min-width: 830px;
    width: 100%;
    }

}
   

/* S */
@media screen and (max-width: 639px) {

    .top {
    min-width: 591px;
    width: 100%;
    }

    .main {

        .albums {
            .album {
                width: calc((100% / 12 * 6) - 1rem);
                margin-top: 0.5rem; 
                flex-wrap: wrap;
            }
        }
    }
    
    .bottom {
    min-width: 588px;
    width: 100%;
    }
}


/* XS */
 @media screen and (max-width:550px) {

    .top {
    min-width: 502px;
    width: 100%;
    }   
    
    .bottom {
    min-width: 502px;
    width: 100%;
    
        
    }

    .player {
        .bar {
            width: 130px;
        }
    
        .bar-volume {
            width: 85px;
        }
    }

    .show {
        display: none;
    }

    
    .sidebar {
        width: 50px;
    
        nav {
            padding-left: 0.5rem;
            text-align: center;  
        }

        .logo {
            width: 30px;
            text-align: center;
            .logo-big {
                display: none;
            }
            .logo-small {
                display: block;
            }
        }

        ul {
            flex-grow: 1;
        }

        .profile {
            text-align: center;
            line-height: 2rem;
            padding-bottom: 1rem;
            width: 40px;
            
            
        }


        
    }

    .song-bar {
        width: 100%;
        max-width: 550px;
        justify-content: center;

        .song {

            img {
                width: 30px;
            }

            span {
                font-size: 6px;
            }
            strong {
                font-size: 8px;
            }

            .icon {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                padding: 0.25rem;
            }
        }
        
        
       
    }

    

    .music-icon {
        display: flex;  
        justify-content: center;
    
        i {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        color: white;
        font-size: 12px;
        align-self: center;
        }

        .fa-circle-play {
            font-size: 24px;
        } 
    }
    
    
 }

