:root {
    --sidebar-bg: black;
    --sidebar-text: #a3a3a3;
    --main-darker: #080b12;
    --main-dark: #141922;
    --main-light: #7a7c81;
    --main-lighter: white;
    --main-highligh: #adff2f;
    --bottom-bg: #282828;
}

* {
    border: 0.5px dashed blue;
}

/* UTILITY */

.white {
    color: white;
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.sidebar {
    width: 230px;
    background-color: black;
    color: var(--sidebar-text);
    display: flex;
    /* da controllare */
    height: 90vh;


    .logo {
        width: 70%;
    }

    nav {
        padding: 0.25rem;
    }

    ul {
        padding-inline-start: 0;

        li {
            list-style: none;
            padding-top:0.25rem;
            padding-bottom: 0.25rem;
            

            .fa-solid {
                padding-right: 0.5rem;
                font-size: 23px;
                vertical-align: middle;

            }

            a {
                color: var(--sidebar-text);
                text-decoration: none; 
                font-size: 12px;   
            }
        }
    }

    h2 {
        font-size: 14px;
        margin-top: 2rem;
    }

    h3 {
        margin-top: 0.25rem;
        font-size: 14px;
        

        .fa-solid {
            font-size: 40px;
            margin-right: 0.5rem;
            vertical-align: middle;
        }
    }

    .playlist {
        font-size: 12px;
        line-height: 1.5rem;
    }

    .profile {
        .download {
            font-size: 12px;
           
        }

        .user {
            font-size: 14px;

            .fa-solid {
                font-size: 27px ;
                vertical-align: middle;
                color: var(--sidebar-text);
                margin-right: 0.25rem;
            }
        }

        hr {
            border: 0.5px solid var(--sidebar-text);
        }
    }
}
    
